--index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://pypi.org/simple
--find-links https://data.pyg.org/whl/torch-2.4.1+cu118.html

torch==2.4.1+cu118
torch-scatter
torch-cluster
torch-geometric

numpy
pandas
toml
omegaconf
xarray
matplotlib
tqdm
seaborn
scikit-learn
rotary-embedding-torch
netCDF4

# ipykernel==6.29.5
# jupyter_client==8.6.2
# pyzmq==26.2.0